@font-face {
    font-family: Arboria;
    src: url(arboria.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(roboto.ttf);
}
* {
    font-family: Arboria;
}

@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}
p, h6, label, span, li, a {
    font-family: Roboto;
}


.mobile {
    display:none;
}

.desktop {
    display:inline;
}

.sticky {
  position: fixed;
  top: 0;
}

header {
    padding-top: 13px;
}

.menu-buttons {
    padding-top: 10px;
}

.header-wrap {
  width: 100%;
  border-bottom: 1px solid #0A3161;
  background: #0A3161!important;
  transition: background-color .25s ease 0s;
  z-index: 40;
}

#overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 49, 97, 0.75);
  z-index: 2;
  cursor: pointer;
  border-radius: 20px;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 23px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.bg-amweriswap-content1 {
    background-image: url(image/bg/bg2.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 893px;
}

.header-menu {
    max-width: 1336px;
    margin: 0 auto;
    height: 72px;
    padding-left: 20px;
    padding-right: 20px;
}
.header-logo.col-md-3 {
    float: left;
}
.header-logo img {
    width: 200px;
}


.connect-wallet-menu {
    float: right;
}

.connect-network-menu {
    float: right;
}

.btn-wallet {
    background: #ffffff;
    width: 190px;
    border: 0;
    border-radius: 15px !important;
    padding: 5px;
    color: #0a3060;
    height: 39px;
    float: right;
    text-align: center;
}

/* .btn-wallet:hover,.btn-wallet:active {
    background: #fff;
    color: #B31942;
    box-shadow: 0px 3px 6px 0px #B31942;
} */

.btn-dashboard {
    background: #fff;
    width: 190px;
    border: 0;
    border-radius: 50px;
    padding: 5px;
    color: #B31942;
    box-shadow: 0px 3px 6px 0px #B31942;
    height: 39px;
    float: right;
    text-align: center;
}

.btn-dashboard:hover,.btn-dashboard:active {
    background: #B31942;
    box-shadow: 0px 3px 6px 0px #ffe5e5;
    color: #fff;
}

.portal {
    background: transparent;
    width: 190px;
    border: 0;
    border-radius: 50px;
    padding: 5px;
    color: #fff;
    height: 39px;
    float: right;
    text-align: center;
}

/* .portal:hover,.portal:active {
    background: #B31942;
    box-shadow: 0px 3px 6px 0px #ffe5e5;
    color: #fff;
} */

.btn-wallet-approve button {
  width: 100%;
  border: none;
  color: #0a3060;
  padding: 15px 0px;
  border-radius: 10px !important;
  background-color: #fff;
}

.btn-wallet span {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.conn-wallet {
    background: url("image/icons/wallet-icon.svg") no-repeat center / contain;
    height: 25px;
    width: 25px;
    float: left;
    position: relative;
    left: 17px;
}

#sell_btn {
  color: #fff!important;
  border: none!important;
  font-size: 16px;
}

#buy_btn{
  color: #fff!important;
  border: none!important;
  font-size: 16px;
}

/* .btn-wallet:hover {
    color: #B31942;
    background: #fff;
}

.conn-wallet:hover {
    fill: red;
    color: #B31942;
    background: #B31942;
} */


.btn-wallet img {
    fill: #B31942;
}

.btn-wallet img {
    width: 22px;
    position: relative;
    top: -2px;
}

.header-content1 {
    width: 1160px;
    margin: 0 auto;
}

.content1-2 {
    position: absolute;
    position: absolute;
    right: 0px;
    top: 55px;
}


.content1-2 h1 {
  color: #B31942;
  font-weight: bold;
  height: 53px;
  font-size: 46px;
}

.content1 {
    width: 500px;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 175px;
    left: 0;
}

.content1 h1 {
    color: #B31942;
    font-weight: bold;
    height: 120px;
    font-size: 46px;
}

.content1 h6 {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: 0;
}

.content1 p {
    color: #e2dede;
    font-size: 20px;
}

.content1 img.logo {
    width: 200px;
}

.content1 img.future {
    width: 638px;
    position: relative;
}


/*Content 2*/
.bg-amweriswap-content2 {
    background-color: #0A3161;
    background-size: 1920px 750px;
    background-repeat: no-repeat;
    background-position: center; 
    height: 367px;
}

.header-content2 {
    margin: 0 auto;
    width: 1160px;
    position: relative;
}

.content2 {
    width: 575px;
    /* display: inline-block; */
    float: right;
}

.swap-box1 {
    background-color: #1b467a;
    width: 100%;
    height: 100%;
    border: 2px solid #1b467a;
    border-radius: 35px;
    padding: 26px;
}

.swap-box1 input {
    height: 80px;
    border-radius: 15px;
}

.swap-box1 .swap {
    width: 25px;
    display: block;
    margin: auto;
    position: relative;
    top: -22px;
    /* left: 10px; */
    cursor: pointer;
    color: #1b467a;
    background-color: #fff;
    border-radius: 5px;
    font-size: 32px;
}

.col-md-12.swap-container {
    height: 5px;
}
.swap-box1 .from {
    color: #fff;
    height: 30px;
}
.swap-box1 .balance {
    color: #A0A2A5;
    height: 30px;
}

.swap-box1 .remaining {
    color: #e2dede;
    height: 30px;
}

.swap-box1 .first-row {
    height: auto;
}

.swap-box1 .first-row .col-md-5 {
    position: relative;
}

.btn-sell-buy #sell_btn, .btn-sell-buy #buy_btn {
    position: relative;
    bottom: 57px;
    float: right;
    right: 8px;
}

.wallet-btn button {
    width: 100%;
    border: none;
    color: #0a3060;
    padding: 15px 0px;
    border-radius: 10px !important;
    background-color: #fff;;
}
.col-md-12.wallet-btn-wrapper {
    margin-top: -25px;
}

/* Form Control */
.form-control {
    background-color: #305d8e !important;
    border: none;
    color: #ffffff !important;
    font-size: 1.4rem !important;
}



.content2-2nd {
    width: 650px;
    text-align: center;
    display: inline-block;
}

.MuiSkeleton-root {
    width: 100%;
    height: 56px!important;
}

.portal {
    margin-right: 14px;
}

.swap-box2 {
    background-image: url("image/dummy_portfolio.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #1b467a;
    width: 588px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    right: 48px;
    padding: 45px;
}

.swap-box2 canvas {
    width: 60% !important;
    height: auto!important;
    position: relative;
}

.swap-box2 h1 {
    color: #fff;
    font-size: 20px;
}

.swap-box2 ul {
    color: #fff;
    list-style: none;
    margin-top: 53px;
}

.swap-box2 ul li:nth-child(1)::marker {
    content: "\f10c";
    font-family: FontAwesome;
    color: rgba(54, 162, 235, 0.8);
}

.swap-box2 ul li:nth-child(2)::marker {
    content: "\f10c";
    font-family: FontAwesome;
    color:rgba(255, 99, 132, 0.8);
}  

.swap-box2 ul li:nth-child(3)::marker {
    content: "\f10c";
    font-family: FontAwesome;
    color: rgba(255, 206, 86, 0.8);
}  

.swap-box2 ul li:nth-child(4)::marker {
    content: "\f10c";
    font-family: FontAwesome;
    color: rgba(75, 192, 192, 0.8);
}  

.swap-box2 ul li:nth-child(5)::marker {
    content: "\f10c";
    font-family: FontAwesome;
    color: rgba(153, 102, 255, 0.8);
}  

.content2 h1 {
    text-align: left;
    color: #fff;
    font-size: 22px;
}

/*Content 3*/
.bg-amweriswap-content {
    background-color: #0A3161;
    background-size: 1920px 750px;
    background-repeat: no-repeat;
    background-position: center; 
    height: 367px;
}

.bg-amweriswap-content-fusion {
    background-color: #0A3161;
    background-size: 1920px 750px;
    background-repeat: no-repeat;
    background-position: center; 
    height: 567px;
}

.bg-amweriswap-content-products {
    background-color: #0A3161;
    background-size: 1920px 750px;
    background-repeat: no-repeat;
    background-position: center; 
    height: 1740px;
}

.bg-amweriswap-content-networks {
    background-color: #0A3161;
    background-size: 1920px 750px;
    background-repeat: no-repeat;
    background-position: center; 
    height: 753px;
}

.bg-amweriswap-section {
    text-align: center;
    width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    height: 200px;
    position: relative;
}

.bg-amweriswap-section-defi {
    width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    height: 200px;
    position: relative;
}

.bg-amweriswap-section-defi h1{
    color: #fff;
}

.bg-amweriswap-section-defi span{
    color: #fff;
}

.networks {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.networks h1{
    color: #fff;
    font-size: 46px;
}

.networks img {
    width: 100px;
}

.networks .caption {
    color: #8F9194;
}
.network-box p {
    color: #fefefe;
}
.network-box {
    display: inline-block;
    width: 140px;
    margin: 0 auto;
}

.network-box .container-img {
    height: 131px;
}

.networks .row:nth-child(1),.networks .row:nth-child(2) {
    margin-bottom: 38px;
}

.bg-amweriswap-section-left {
    width: 100%;
    position: relative;
}

.bg-amweriswap-section-right {
    width: 424px;
    position: relative;
    text-align: left;
    left: 48px;
    height: 290px;
}

.bg-amweriswap-section-right h1 {
    color: #fff;
}

.bg-amweriswap-section-right h2 {
    color: #B31942;
    font-style: italic;
}

.bg-amweriswap-section-right p {
    color: #fefefe;
}

.swap-box-3 {
    background-color: #1b467a;
    width: 210px;
    height: 120px;
    /* border: 1px solid #e2dede; */
    border-radius: 20px;
    /* box-shadow: 0px 2px 9px 0px #B31942; */
    padding: 12px 0px 0px 17px;
    display: inline-block;
    margin: 11px;
    text-align: left;
}

.swap-box-3 .coin {
    width: 20px;
}

.swap-box-3 .linegraph {
    width: 78px;
    padding-top: 15px;
}

.swap-box-3 label {
    color: #E4E8ED;
    font-size: 15px;
}

.swap-box-3 h5 {
    padding-top: 6px;
    color: #E4E8ED;
}

.swap-box-3 span.green {
    color: #198754;
    background-color: #E4E8ED;
    padding: 7px 10px 7px 10px;
    border-radius: 10px 10px 0px 10px;
    font-size: 12px;
    float: right;
    margin-right: 20px;
    margin-top: -4px;
}

.swap-box-3 span.red {
    color: #b31942;
    background-color: #FFF1EE;
    padding: 7px 10px 7px 10px;
    border-radius: 10px 10px 0px 10px;
    font-size: 12px;
    float: right;
    margin-right: 20px;
    margin-top: -4px;
    font-weight: bold;
}

.btn-learn-more-defi {
    background: #ffffff;
    width: 150px;
    border: 0;
    border-radius: 15px !important;
    padding: 5px;
    color: #0a3060;
    height: 39px;
}

.btn-learn-more {
    background: #ffffff;
    width: 150px;
    border: 0;
    border-radius: 15px !important;
    padding: 5px;
    color: #0a3060;
    height: 39px;
    position: absolute;
    bottom: 35px;
}

.btn-learn-more:hover,.btn-learn-more:active,.btn-learn-more-defi:hover,.btn-learn-more-defi:active {
    background: #B31942;
    color: #fff;
}

/*Content 4*/
.bg-amweriswap-content4 {
    background-color: #4A2754;
    background-size: 1920px 750px;
    background-repeat: no-repeat;
    background-position: center; 
    height: 434px;
}

.bg-amweriswap-section4 {
    text-align: center;
    width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    height: 200px;
    position: relative;
}

.swap-box-4 {
    background-color: #1b467a;
    width: 376px;
    height: 207px;
    border-radius: 20px;
    padding: 30px 0px 0px 17px;
    display: inline-block;
    margin: 9px;
    text-align: left;
    position: relative;
}

.swap-box-4 h5 {
    color: #FFFFFF;
}

.swap-box-4 span {
    color: #fefefe;
}

.swap-box-4 p {
    color: #A3B2C4;
}

.swap-box-4 img {
    width: 174px;
}

.swap-box-4 img.last_img {
    width: 237px;
    position: absolute;
    right: 0;
    top: -9px;
}

.bg-amweriswap-section4 h1 {
    color: #F6F5FE;
    height: 96px;
}

/*Content 5*/
.bg-amweriswap-content5 {
    background-color: #322B59;
    background-size: 1920px 750px;
    background-repeat: no-repeat;
    background-position: center; 
    height: 600px;
}

.bg-amweriswap-section5 {
    text-align: center;
    width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    height: 200px;
    position: relative;
    line-height: 19px;
}

.bg-amweriswap-section5 span{
    color: #FFFFFF;
    font-size: 16px;
    width: 544px;
    display: inline-block;
    padding-bottom: 42px;
    margin: 0 auto;
}

.swap-box-5 {
    background-image: url("image/dummy_total_value.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #1b467a;
    width: 100%;
    height: 370px;
    border-radius: 20px;
    padding: 30px 0px 0px 17px;
    display: inline-block;
    text-align: left;
    position: relative;
}

.swap-box-fusion {
    background-color: #1b467a;
    height: 442px;
    border-radius: 20px;
    padding: 20px 0 0 66px;
    display: inline-block;
    text-align: left;
    position: relative;
    width: 100%;
}

.bg-amweriswap-content-products .products {
    background-color: #1b467a;
    height: 491px;
    border-radius: 20px;
    padding: 25px 0 0 36px;
    display: inline-block;
    text-align: left;
    position: relative;
    width: 572px;
    margin: 7px;
}

.bg-amweriswap-content-products h1 {
    margin-bottom: 60px;
}

.bg-amweriswap-content-products .products h3 {
    color: #fff;
}

.bg-amweriswap-content-products .products p {
    color: rgba(255,255,255,.6);
}

.bg-amweriswap-content-products .products img {
    width: 89%;
}

.swap-box-fusion .fusion-p {
    width: 42%;
    color: rgba(255,255,255,.6);
}

.swap-box-fusion .learn-fusion {
    margin-top: 43px;
}

/*Content 6*/
.bg-amweriswap-content6 {
    background-color: #0A3161;
    background-size: 1920px 750px;
    background-repeat: no-repeat;
    background-position: center; 
    height: 675px;
}

.bg-amweriswap-section6 {
    text-align: left;
    width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    height: 200px;
    position: relative;
    line-height: 19px;
}

.bg-amweriswap-section6 h1 {
    color: #ffffff;
    line-height: 51px;
}

.bg-amweriswap-section6 h6 {
    color: #fefefe;
    padding-top: 20px;
    font-size: 18px;
}

.bg-amweriswap-section6 p {
    color: #fff;
    line-height: 19px;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.bg-amweriswap-section6 .left-section {
    width: 400px;
    padding-top: 68px;
}

.bg-amweriswap-section6 .phone {
    width: 90%;
}

/*Footer*/
footer {
    background-color: #022A57;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer-section ul {
    color: #fff;
    list-style: none;
    margin-top: 16px;
    margin-left: -32px;
}

.footer-section ul li::marker {
    content: "";
}

footer p {
    color: #e2dede;
}

.footer-section {
    width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}

.footer-section .row:nth-child(1) h1 {
    color: #fff;
}

.footer-section .row:nth-child(1) ul li a:link {
    color: rgba(255,255,255,.6);
    text-decoration: none;
}

.footer-section .row:nth-child(1) ul li a:hover {
    color: #fff;
}


.footer-section .row:nth-child(2) {
    border-bottom: 1px solid #B31942;
    padding-bottom: 15px;
}

.footer-section img {
    width: 57px;
}

.footer-section p {
    color: #e2dede;
}

.footer-content-left {
    float: left;
}

.footer-content-left p {
    padding-top: 20px;
}

.footer-content-right {
    float: right;
    position: relative;
    top: 12px;
}

.footer-content-right p {
    padding-top: 5px;
}

.footer-content-right h6 {
    color: #B31942;
}

.footer-content-right span {
    cursor: pointer;
}

.footer-content-right svg {
    vertical-align: top;
    background: #fff;
    color: #022A57;
    border-radius: 3px;
    margin: 8px;
}

.footer-content-right svg:hover, .footer-content-right svg:active{
    background: #022A57;
    color: #fff;
}

.footer-content-right input[type=text] {
    background: #032754;
    border: none;
}

.footer-content-right input::placeholder {
    color: #696F80;
}

.footer-content-right img.socmed {
    width: 154px;
    padding-top: 10px;
}

.newsletter {
    float: right;
}

.newsletter h1 {
    font-size: 22px;
    color: #fff;
}

.newsletter p, .newsletter label {
    color: rgba(255,255,255,.6);
}

.newsletter input[type=email] {
    background: rgba(94, 108, 124, 0.32);
    border: none;
    color: #fff;
}

.newsletter input::placeholder {
    color: #696F80;
}

.newsletter svg {
    color: #0A3161;
}

.newsletter svg:hover,.newsletter svg:active {
    color: #B31942;
}

.newsletter .input-group-append {
    position: absolute;
    right: 6px;
    top: 4px;
    cursor: pointer;
    z-index: 999999999;
}

.copyright {
    position: relative;
    top: 15px;
}

.copyright span {
    color: #fff;
    font-size: 13px;
}

.terms {
    text-align: center;
}

.terms a:link {
    color:  #fff;
    text-decoration: none;
    font-size: 13px;
}

.terms a:hover {
    color: rgba(255,255,255,.6);
    text-decoration: none;
}

.terms table {
    margin: 0 auto;
}

.terms table tr td {
    width: 135px;
}
